.bg-image {
  background-image: url("/assets/bus.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.mat-expansion-panel-header {
  height: 80px;
}

:host {
  flex-grow: 1;
}
