<div class="bg-image">
  <div class="flex flex-col items-center pt-2">
    <!-- First Row -->
    <div class="flex justify-around gap-2">
      <mat-form-field appearance="fill" class="w-[200px]">
        <mat-label>Start</mat-label>
        <mat-select>
          <mat-option> uttara </mat-option>
          <mat-option> dhanmondi </mat-option>
          <mat-option> mirpur </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-[200px]">
        <mat-label>Destination</mat-label>
        <mat-select>
          <mat-option> uttara </mat-option>
          <mat-option> dhanmondi </mat-option>
          <mat-option> mirpur </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-accordion class="w-3/4">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Bus List </mat-panel-title>
          <mat-panel-description>
            Click here to show all available bus
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul class="space-y-2 flex flex-col">
          <li
            *ngFor="let item of items; let i = index"
            [ngClass]="{
              'bg-gray-200': i % 2 === 0,
              'bg-gray-100': i % 2 !== 0
            }"
            class="items-center"
          >
            <button mat-raised-button color="secondary" class="w-full">
              {{ item }}
            </button>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Second Row -->
    <div class="w-full pt-10 flex items-center justify-center">
      <div id="map" class="aspect-w-16 aspect-h-9 sm:h-40 md:h-56 lg:h-64">
        <google-map
          [height]="mapHeight"
          [width]="mapWidth"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="moveMap($event)"
          (mapMousemove)="move($event)"
        >
          <map-polyline [path]="vertices"></map-polyline>
        </google-map>
      </div>
    </div>

    <!-- Third Row -->
    <div class="flex justify-center items-center z-10">
      <div class="p-4">
        <p class="text-center text-white">Airport - TSC</p>
      </div>
    </div>
  </div>
</div>
